
@media (min-width: 576px)
.jumbotron {
    padding: 0rem 0rem;
}

h4 {
   font-family: Georgia, serif;
}
.navbar,img {
    height: 64px;
}

.nav-wrapper {
    background-color: #fff !important;
    font-size: 14px;
    font-weight: bold;
  }


